[project]
	description = Yet another micro blog system in beego
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lei Cao (lei-cao)
[access "refs/for/refs/*"]
	read = group user/Lei Cao (lei-cao)
	push = group user/Lei Cao (lei-cao)
	label-Code-Review = -2..+2 group user/Lei Cao (lei-cao)
	label-Verified = -1..+1 group user/Lei Cao (lei-cao)
	rebase = group user/Lei Cao (lei-cao)
	removeReviewer = group user/Lei Cao (lei-cao)
	submit = group user/Lei Cao (lei-cao)
[access "refs/heads/*"]
	read = group user/Lei Cao (lei-cao)
	create = group user/Lei Cao (lei-cao)
	push = +force group user/Lei Cao (lei-cao)
	pushMerge = group user/Lei Cao (lei-cao)
[access "refs/tags/*"]
	push = +force group user/Lei Cao (lei-cao)
	pushTag = group user/Lei Cao (lei-cao)
	pushSignedTag = group user/Lei Cao (lei-cao)
